@import './reset.css';

:root {
  --prim-cyan: 180 29% 50%;
  --light-cyan: 180 52% 96%;
  --light-grey-cyan: 180 31% 95%;
  --dark-cyan: 180 8% 52%;
  --darker-cyan: 180 14% 20%;

  --ff-base: 'League Spartan', sans-serif;
  --fs-base: 15px;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: hsl(var(--darker-cyan));
  
  background-color: hsl(var(--light-grey-cyan));
}

body > header {
  background-color: hsl(var(--prim-cyan));
  max-height: 10em;
  overflow: hidden;
}

body > header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
